<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/minty/bootstrap.min.css"
          integrity="sha512-dzNHnGRA5Hl/Yg99wApuTJsmIZeGI982+8TIa+p4YY56wHgm99KoeG9/PctDhl9WikDBDpFhEoLBI+QZcNidmw=="
          crossorigin="anonymous"/>
    <title>WeatherStat</title>
</head>

<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="../" class="navbar-brand" style="color: white;">WeatherStat </a>
    </div>
</div>

<br>
<div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:50px">
    <img src="{% static 'images/weather.png' %}" class="image" style="width:100px; margin-bottom:20px; ">
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    {% block 'form_get_weather' %}
    {% endblock %}
</nav>
<br>

<div class="row">
    <div class="col d-flex justify-content-center">
        <div class=" card text-dark bg-dark mb-6">
            <div class=" card-body">
                <h4><span class="badge badge-primary">Min temperature :</span> {{stat.abs_min_temp}}°C</h4>
                <h4><span class="badge badge-primary">Avg temperature :</span> {{stat.avg_temp}}°C</h4>
                <h4><span class="badge badge-primary">Max temperature :</span> {{stat.abs_max_temp}}°C</h4>
                <h4><span class="badge badge-primary">Avg min year temp :</span> {% if stat.year_min %}
                    {% for year in stat.year_min %}
                        {{ year.date__year }}: {{ year.minTemp__avg }}°C
                    {% endfor %}
                {% endif %}</h4>
                <h4><span class="badge badge-primary">Avg max year temp :</span> {% if stat.year_max %}
                    {% for year in stat.year_max %}
                        {{ year.date__year }}: {{ year.maxTemp__avg }}°C
                    {% endfor %}
                {% endif %}</h4>
                <h4><span class="badge badge-primary">Days with precipitation :</span> {{stat.precip_days}}%</h4>
                <h4><span class="badge badge-primary">Most frequent precipitation : </span> {{stat.most_frequent_prec}}
                </h4>
                <h4><span class="badge badge-primary">Awg wind speed :</span> {{stat.avg_wind_speed}} m/s</h4>
                <h4><span class="badge badge-primary">Awg wind direction : </span> {{stat.avg_wind_dir}}</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>